{% extends "layout/index.html" %}

{% block content %}
  <section class="l-index">
    <div class="l-admin">
        {% include "partials/secrets.html" %}
      <section class="l-admin__wpp">
       <div class="l-admin__form">
        <h2>Create</h2>
        <form data-form="create" method="POST">
          <fieldset>
            <label for="id">ID (nao pode se repetir)</label>
            <input type="number" name="id">
          </fieldset>
          <fieldset>
            <label for="title">Titulo da pagina</label>
            <input type="text" name="title">
          </fieldset>
          <fieldset>
            <label for="typeFile">Tipo de arquivo (audio, image, text)</label>
            <input type="text" name="typeFile">
          </fieldset>
          <fieldset>
            <label for="image">Arquivo</label>
            <input type="file" name="image" id="image">
          </fieldset>
          <fieldset>
            <label for="text">Texto (se tipo do arquivo for text, use "&lt;br &gt;" para quebrar a linha)</label>
            <input type="text" name="text">
          </fieldset>
          <fieldset>
            <label for="family">Font Family (se tipo do arquivo for text)</label>
            <input type="text" name="fontFamily">
          </fieldset>
          <fieldset>
            <label for="answer">Resposta</label>
            <input type="text" name="answer">
          </fieldset>
          <fieldset>
            <label for="tip">Dica</label>
            <input type="text" name="tip">
          </fieldset>
          <fieldset>
            <label for="tip">Código escondido</label>
            <input type="text" name="hiddenCode">
          </fieldset>
          <button type="submit">Criar</button>
        </form>
       </div>
       <div class="l-admin__form">
         <h2 class="update">Update</h2>
         <form data-form="update" method="PUT">
          <fieldset>
            <label for="id">ID</label>
            <input type="number" name="id">
          </fieldset>
          <fieldset>
            <label for="">Selecione qual propriedade quer atualizar: (somente use o segundo campo caso seja imagem)</label>
            <select name="type" id="type" required>
              <option value=""></option>
              <option value="id">ID</option>
              <option value="title">title</option>
              <option value="typeFile">TypeFile</option>
              <option value="text">Text</option>
              <option value="fontFamily">FontFamily</option>
              <option value="answer">Answer</option>
              <option value="tip">Tip</option>
              <option value="image">Image</option>
              <option value="hiddenCode">hiddenCode</option>
            </select>
            <input type="text" name="value">
            <input type="file" name="image">
          </fieldset>
          <button type="submit">Atualizar</button>
        </form>
       </div>
       <div class="l-admin__form">
         <h2>Delete</h2>
         <form action="{{ path }}/secret/api/delete" method="POST">
            <fieldset>
              <label for="alou">ID:</label>
              <input type="text" name="id" required>
            </fieldset>
            <button type="submit">Deletar</button>
         </form>
       </div>
      </section>
    </div>
  </section>
{% endblock %}