{% extends "layout/secret.html" %}

{% block content %}
  <div class="l-secret">
    <div class="l-secret__image-holder">
      {% if secretFinded.typeFile === "image" %}
        <img class="l-secret__image" src="/uploads/{{ secretFinded.image }}" alt="{{ secretFinded.alt }}">
      {% elif secretFinded.typeFile === "audio" %}
        <audio controls autoplay>
          <source src="/uploads/{{ secretFinded.image }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

      {% elif secretFinded.typeFile === "video" %}
        <video controls autoplay loop>
          <source src="/uploads/{{ secretFinded.image }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </video>

      {% elif secretFinded.typeFile === "text" %}
        <p class="{{ secretFinded.fontFamily }}">
          {{ secretFinded.text | safe }}
        </p>
      {% endif %}
    </div>

    <form class="l-secret__controls" data-secret>
      <input type="text" class="l-secret__controls-input" data-input>
      <button type="button" class="l-secret__controls-button" data-submit="{{ secretFinded.id }}">Enviar</button>
    </form>

    <div class="l-secret__tip">
      <button class="l-secret__tip-button">?</button>
      <p class="l-secret__tip-text">{{ secretFinded.tip }}</p>
    </div>
  </div>
  <div style="display: none;"> {{ secretFinded.hiddenCode | safe }} </div>
{% endblock %}