.l-page {
  background: url("/public/images/background.png");
}

.l-index {
  font-family: "Montserrat";
  text-align: center;
  color: $color-white;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.l-index__title {
  margin: 0 auto;
  max-width: 28vw;

  img {
    width: 100%;
  }
}

.l-index__link {
  width: 265px;
  height: 142px;
  display: inline-block;
  background: url("/public/images/jogar.png");
  background-repeat: no-repeat;
}

@include respond-to(mobile) {
  .l-index__title {
    max-width: 70%;
  }

  .l-index__link {
    font-size: 18px;
  }
}