
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="" rel="shortcut icon" href="" type="image/png" />
<link rel="stylesheet" href="/public/css/app.css">
<title>{{ title }}</title>

<meta property="og:title" content="#{share.title}">
<meta property="og:url" content="#{share.url}">
<meta property="og:description" content="#{share.content}">
<meta property="og:image" content="#{share.baseurl}/public/images/#{share.image}">
<meta name="twitter:card" value="#{share.baseurl}/public/images/#{share.image}">

<script>
var api = '{{ path }}';
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4ZR4JN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->