<section class="l-admin__wpp">
  {% if secrets %}
    <ul>
      {% for item in secrets %}
        <li>
          <p><strong>ID:</strong> {{ item.id }}</p>
          <p><strong>Title:</strong> {{ item.title }}</p>
          <p><strong>TypeFile:</strong> {{ item.typeFile }}</p>
          <p><strong>Answer:</strong> {{ item.answer }}</p>
          <p><strong>Tip:</strong> {{ item.tip }}</p>
          {% if item.image %}
            <img src="/uploads/{{ item.image }}" alt="">
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</section>